@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  height: 100vh;
  width: 100%;
  position: relative;
  background: linear-gradient(#2b1055, #7597de);
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  margin: 20px 100px;
  display: flex;
  justify-content: space-between;
  z-index: 1000;
}

header .logo {
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

header .logo:hover {
  mask-image: linear-gradient(-75deg,
      rgba(0, 0, 0, 0.6) 30%,
      #000 50%,
      rgba(0, 0, 0, 0.6) 70%);
  mask-size: 200%;
  -webkit-mask-image: linear-gradient(-75deg,
      rgba(0, 0, 0, 0.6) 30%,
      #000 50%,
      rgba(0, 0, 0, 0.6) 70%);
  -webkit-mask-size: 200%;
  animation: shine 2s infinite;
}

@keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }

  to {
    -webkit-mask-position: -50%;
  }
}

@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }

  to {
    -webkit-mask-position: -50%;
  }
}

header ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  list-style: none;
  margin-left: 20px;
}

header ul li a {
  text-decoration: none;
  color: #fff;
  padding: 6px 15px;
  border-radius: 20px;
}

header ul li a:hover,
header ul li a.active {
  background-color: #fff;
  color: #2b1055;
}

section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

section::before {
  position: absolute;
  content: '';
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #1c0522, transparent);
  z-index: 1000;
}

section img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  pointer-events: none;
}

section img#moon {
  mix-blend-mode: screen;
}

section img#mountainsFront {
  z-index: 10;
}

#backgroundText {
  position: absolute;
  color: #fff;
  white-space: no-wrap;
  font-size: 7rem;
  z-index: 9;
}

.button {
  text-decoration: none;
  display: inline-block;
  padding: 7px 30px;
  border-radius: 40px;
  background: #2b1055;
  color: #fff;
  font-size: 2rem;
  z-index: 9;
  transform: translateY(8rem);
}

.contentSection {
  position: relative;
  padding: 100px;
  background-color: #1c0522;
}

.contentSection h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #fff;
}

.contentSection p {
  font-size: 1.3rem;
  color: #fff;
}

.formContainer {
  position: relative;
  background-color: #1c0522;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.form {
  padding: 2rem;
  border: 0.5rem solid #fff;
  border-radius: 2rem;
  box-shadow: #000;
  width: 30%;
}

.inputField {
  width: 100%;
  margin-top: 10px;
  padding: 15px 0 0;
  position: relative;
}

.inputControl {
  width: 100%;
  border: 0;
  border-bottom: 2px solid #ccc;
  outline: 0;
  font-size: 1.3rem;
  padding: 7px 0;
  background: transparent;
  transition: border-color 2s;
}

.inputControl::placeholder{
  color: transparent;
}

.inputControl::placeholder-shown ~ .inputLabel{
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}

.inputControl:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image-slice: 1;
  border-image-source: linear-gradient(43deg, #FFCC70 0%, #C850C0 46%, #4158D0 100%);
}

.inputLabel {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #ccc;
}
.inputControl:focus ~ .inputLabel{
  position:absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #FFCC70;
  font-weight: 700;
}

.inputControl:required,
.inputControl:invalid{
  box-shadow: none;
}